{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				Vous êtes connecté en tant que
				{{ app.user.firstname }}
				{{ app.user.lastname }},
				<a href="{{ path('app_logout') }}">Déconnexion</a>
			</div>
		{% endif %}
		<div class="col-5 mx-auto mt-5">
			<h1 class="h3 mb-3 font-weight-normal">Connectez-vous</h1>
			<label for="inputEmail">Email</label>
			<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-1" required autofocus>
			<label for="inputPassword">Mot de passe</label>
			<input type="password" name="password" id="inputPassword" class="form-control mb-1" required>

			<input
			type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			{#
			        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
			        See https://symfony.com/doc/current/security/remember_me.html
			
			        <div class="checkbox mb-3">
			            <label>
			                <input type="checkbox" name="_remember_me"> Remember me
			            </label>
			        </div>
			    #}
			<div class="text-center">
				<button class="btn btn-lg btn-primary mt-3" type="submit">
					Connexion
				</button>
			</div>
		</form>
	</div>
{% endblock %}
