{% extends 'base.html.twig' %}

{% block title %}{{ appName }}
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<h1>Créer un compte</h1>

	{{ form_start(registrationForm) }}
	{{ form_row(registrationForm.email, {'label': 'Email'}) }}
	{{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
	{{ form_row(registrationForm.lastname, {'label': 'Nom'}) }}
	{{ form_row(registrationForm.firstname, {'label': 'Prénom'}) }}
	{{ form_row(registrationForm.agreeTerms, {'label': 'Accepter les conditions'}) }}

	<button type="submit" class="btn btn-lg btn-primary mt-3">Créer</button>
	{{ form_end(registrationForm) }}
{% endblock %}
