<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				{{ appName }}
			{% endblock %}
		</title>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="{{ path('advert_index') }}">{{ appName }}</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>


			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					<ul class="navbar-nav mr-auto">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Menu
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a {% if app.user.adverts is empty %} class="dropdown-item disabled" {% else %} class="dropdown-item" {% endif %} href="{{ path('my_published_adverts') }}">Mes annonces publiées</a>
								<a class="dropdown-item" href="{{ path('advert_new') }}">Ajouter une annonce</a>
								<a class="dropdown-item" href="{{ path('adverts') }}">Toutes les annonces</a>
								<a class="dropdown-item" href="{{ path('user_profile')}}">Mon profil et mes réservations</a>
							</div>
						</li>
					</ul>
					<form class="form-inline my-2 my-lg-0" action="{{ path('adverts_search') }}" method="POST">
						<input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Trouver" name="search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Trouver</button>
					</form>
				{% endif %}
			</div>
			<div>
				{% if app.user %}
					<a class="btn btn-primary ml-2" href="{{ path('user_profile')}}">Bienvenue,
						{{ app.user.firstname }}
						{{ app.user.lastname }}</a>
					<a href="{{ path('app_logout') }}" class="btn btn-outline-primary ml-2">Déconnexion</a>
				{% else %}
					<a href="{{ path('app_register') }}" class="btn btn-primary ml-2">Créer un compte</a>
					<a href="{{ path('app_login') }}" class="btn btn-outline-primary ml-2">Connexion</a>
				{% endif %}
			</div>
		</nav>

		<div class="container mt-3">
			<div class="row">
				<div class="col mb-5"> {% block body %}{% endblock %}
					</div>
				</div>
			</div>
			{% block javascripts %}{% endblock %}
		</body>
	</html>
