{{ form_start(form) }}
{{ form_row(form.name, {'label': 'Titre'}) }}
{{ form_row(form.description, {'label': 'Description'}) }}
{{ form_row(form.price, {'label': 'Prix'}) }}
{{ form_row(form.brand, {'label': 'Marque'}) }}
{{ form_row(form.category, {'label': 'Categorie'}) }}
{{ form_widget(form) }}
{{ form_end(form) }}
