{% extends 'base.html.twig' %}

{% block title %}
	{{ appName }}
{% endblock %}

{% block body %}
	<div class="jumbotron">
		<h1>{{ h1Content }}
		</h1>
	</div>

	<hr>

	<div class="row">
		{% for advert in adverts %}
			<div class="col-4 mb-1">
				<div class="card text-center">

					<div class="card-body">
						<h5 class="card-title">{{ advert.name }}</h5>
						{% if advert.isReserved == true %}
							<span class="badge badge-danger px-2 py-1">Réservée</span><br>
						{% endif %}
						<span class="badge badge-primary  px-2 py-1 mb-2">
							{{ advert.category.name }}</span><br>

						Prix :
						{{ advert.price }} € {% if advert.category.name == 'Location' %} / Jour {% endif %}<br>
						Marque :
						{{ advert.brand.name }}<br>
						Crée le :
						{{ advert.date | date("d/m/Y") }}
						à
						{{ advert.date | date("H:i") }}<br>
						Auteur :
						{{ advert.user.firstname }}
						{{ advert.user.lastname }}<br>

						<p class="card-text">Description : {{ advert.description }}</p>
						{% if is_granted('IS_AUTHENTICATED_FULLY') %}
							<a href="{{ path('advert_show', {'id': advert.id}) }}" class="btn btn-sm btn-primary mb-2">Voir cette annonce</a><br>
							{% if advert.isReserved == false and app.user.id != advert.user.id %}
								<a href="{{ path('advert_book_reservation', {'id': advert.id}) }}" class="btn btn-sm btn-success mb-2">Réserver cette annonce</a><br>
							{% endif %}
							{% if advert.isReserved == true and app.user.id == advert.userReservation.id %}
								<a href="{{ path('advert_cancel_reservation', {'id': advert.id}) }}" class="btn btn-sm btn-success mb-2">Annuler ma réservation</a><br>
							{% endif %}
							{% if app.user.id == advert.user.id %}
								<a href="{{ path('advert_edit', {'id': advert.id}) }}" class="btn btn-sm btn-warning mb-2">Editer cette annonce</a><br>
								{{ include('advert/_delete_form.html.twig') }}
							{% endif %}
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
