{% extends 'base.html.twig' %}

{% block title %}
	{{ appName }}
{% endblock %}

{% block body %}
	<div class="jumbotron">
		<h1>Ajouter une annonce :</h1>
	</div>

	<hr>

	{{ include('advert/_form.html.twig') }}
	<div class="text-center">
		<a href="{{ path('advert_index') }}" class=" btn btn-outline-primary">Retour à l'accueil</a>
	</div>
{% endblock %}
