{% extends 'base.html.twig' %}

{% block title %}
	{{ appName }}
{% endblock %}

{% block body %}
	<div class="jumbotron">
		<h1>Profil de
			{{ user.firstname }}
			{{ user.lastname }}
			:
		</h1>
	</div>
	<div class="alert alert-primary">
		<h2>Mes informations :
		</h2>

		<p>Email :
			{{ user.email }}<br>
			Nom :
			{{ user.lastname }}<br>
			Prénom :
			{{ user.firstname }}<br>
		</p>
	</div>

	<hr>
	<h2>Mes réservations :
	</h2>
	{% if user.advertsReservation is empty%}
		<p>Vous n'avez pas de réservations pour le moment</p>
	{% else %}
		<div class="row">
			{% for advert in user.advertsReservation %}
				<div class="col-4 mb-1">
					<div class="card text-center">

						<div class="card-body">
							<h5 class="card-title">{{ advert.name }}</h5>
							{% if advert.isReserved == true %}
								<span class="badge badge-danger px-2 py-1">Réservée</span><br>
							{% endif %}
							<span class="badge badge-primary  px-2 py-1 mb-2">
								{{ advert.category.name }}</span><br>

							Prix :
							{{ advert.price }}
							€
							{% if advert.category.name == 'Location' %}
								/ Jour
							{% endif %}<br>
							Marque :
							{{ advert.brand.name }}<br>
							Crée le :
							{{ advert.date | date("d/m/Y") }}
							à
							{{ advert.date | date("H:i") }}<br>
							Auteur :
							{{ advert.user.firstname }}
							{{ advert.user.lastname }}<br>

							<p class="card-text">Description :
								{{ advert.description }}</p>

							<a href="{{ path('advert_show', {'id': advert.id}) }}" class="btn btn-sm btn-primary mb-2">Voir cette annonce</a><br>
							<a href="{{ path('advert_cancel_reservation', {'id': advert.id}) }}" class="btn btn-sm btn-success mb-2">Annuler ma réservation</a><br>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}
